<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>saap</display-name>
  <servlet>
    <servlet-name>Faces Servlet</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>*.jsf</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>org.richfaces.skin</param-name>
    <param-value>#{skinBean.skin.valorCadena}</param-value>
  </context-param>
  <context-param>
    <param-name>org.richfaces.push.jms.enabled</param-name>
    <param-value>true</param-value>
  </context-param>
  <session-config>
    <session-timeout>90</session-timeout>
  </session-config>
  <error-page>
    <error-code>404</error-code>
    <location>/timeOutError.jsf</location>
  </error-page>
  <error-page>
    <error-code>403</error-code>
    <location>/timeOutError.jsf</location>
  </error-page>
  <error-page>
    <error-code>408</error-code>
    <location>/timeOutError.jsf</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/timeOutError.jsf</location>
  </error-page>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Trabajo</web-resource-name>
      <url-pattern>/task/*</url-pattern>
      <http-method>POST</http-method>
      <http-method>GET</http-method>
    </web-resource-collection>
    <web-resource-collection>
      <web-resource-name>XHTML</web-resource-name>
      <url-pattern>*.xhtml</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>admin</role-name>
    </auth-constraint>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Home</web-resource-name>
      <url-pattern>/home/*</url-pattern>
      <http-method>POST</http-method>
      <http-method>GET</http-method>
    </web-resource-collection>
    <web-resource-collection>
      <web-resource-name>XHTML</web-resource-name>
      <url-pattern>*.xhtml</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>admin</role-name>
    </auth-constraint>
  </security-constraint>
  <login-config>
    <auth-method>FORM</auth-method>
    <realm-name>other</realm-name>
    <form-login-config>
      <form-login-page>/login.jsf</form-login-page>
      <form-error-page>/login.jsf?fail=true</form-error-page>
    </form-login-config>
  </login-config>
  <security-role>
    <role-name>admin</role-name>
  </security-role>
  <servlet>
    <servlet-name>PdfServlet</servlet-name>
    <servlet-class>net.sf.jasperreports.j2ee.servlets.PdfServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>JExcelApiServlet</servlet-name>
    <servlet-class>net.sf.jasperreports.j2ee.servlets.JExcelApiServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RtfServlet</servlet-name>
    <servlet-class>net.sf.jasperreports.j2ee.servlets.RtfServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ImageServlet</servlet-name>
    <servlet-class>net.sf.jasperreports.j2ee.servlets.ImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PdfServlet</servlet-name>
    <url-pattern>/servlets/report/PDF</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>JExcelApiServlet</servlet-name>
    <url-pattern>/servlets/report/EXCEL</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RtfServlet</servlet-name>
    <url-pattern>/servlets/report/RTF</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ImageServlet</servlet-name>
    <url-pattern>/servlets/image</url-pattern>
  </servlet-mapping>
</web-app>