@import url(http://fonts.googleapis.com/css?family=Raleway:400,700);

@import url('demo.css');

@import url('font-awesome.css');

body {
	background: #7f9b4e url(../imagenes/fondo2.jpg) no-repeat center top;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	/*filter: alpha(opacity = 50);
	opacity: .5;
*/
}
/* GLOBALS */
*,*:after,*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

/* Demo 4 */
.form-4 { /* Size and position */
	width: 300px;
	margin: 0px auto 30px;
	padding: 0px;
	position: relative;
	/* Font styles */
	font-family: 'Raleway', 'Lato', Arial, sans-serif;
	color: white;
	text-shadow: 0 2px 1px rgba(0, 0, 0, 0.3);
}

.form-4 h1 {
	font-size: 22px;
	padding-bottom: 20px;
}

.form-4 input[type=text],.form-4 input[type=password] {
	/* Size and position */
	width: 100%;
	padding: 8px 4px 8px 10px;
	margin-bottom: 15px;
	/* Styles */
	border: 1px solid #4e3043; /* Fallback */
	border: 1px solid rgba(78, 48, 67, 0.8);
	background: rgba(0, 0, 0, 0.15);
	border-radius: 2px;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 1px 1px
		rgba(0, 0, 0, 0.1);
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	/* Font styles */
	font-family: 'Raleway', 'Lato', Arial, sans-serif;
	color: #fff;
	font-size: 13px;
}

/* Placeholder style (from http://stackoverflow.com/questions/2610497/change-an-inputs-html5-placeholder-color-with-css) */
.form-4 input::-webkit-input-placeholder {
	color: rgba(37, 21, 26, 0.5);
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.15);
}

.form-4 input:-moz-placeholder {
	color: rgba(37, 21, 26, 0.5);
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.15);
}

.form-4 input:-ms-input-placeholder {
	color: rgba(37, 21, 26, 0.5);
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.15);
}

.form-4 input[type=text]:hover,.form-4 input[type=password]:hover {
	border-color: #333;
}

.form-4 input[type=text]:focus,.form-4 input[type=password]:focus,.form-4 input[type=submit]:focus,input[type=reset]:focus,input[type=button]:focus
	{
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 1px 1px
		rgba(0, 0, 0, 0.1), 0 0 0 3px rgba(255, 255, 255, 0.15);
	outline: none;
}

/* Fallback */
.no-boxshadow .form-4 input[type=text]:focus,.no-boxshadow .form-4 input[type=password]:focus
	{
	outline: 1px solid white;
}

.form-4 input[type=submit],input[type=reset] ,input[type=button] { /* Size and position */
	width: 32%;
	padding: 8px 5px;
	/* Styles */
	background: #634056;
	background: -moz-linear-gradient(rgba(99, 64, 86, 0.5),
		rgba(76, 49, 65, 0.7) );
	background: -ms-linear-gradient(rgba(99, 64, 86, 0.5),
		rgba(76, 49, 65, 0.7) );
	background: -o-linear-gradient(rgba(99, 64, 86, 0.5),
		rgba(76, 49, 65, 0.7) );
	background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(99, 64, 86, 0.5)
		), to(rgba(76, 49, 65, 0.7) ) );
	background: -webkit-linear-gradient(rgba(99, 64, 86, 0.5),
		rgba(76, 49, 65, 0.7) );
	background: linear-gradient(rgba(99, 64, 86, 0.5), rgba(76, 49, 65, 0.7)
		);
	border-radius: 5px;
	border: 1px solid #4e3043;
	box-shadow: inset 0 1px rgba(255, 255, 255, 0.4), 0 2px 1px
		rgba(0, 0, 0, 0.1);
	cursor: pointer;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	/* Font styles */
	color: white;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
	font-size: 16px;
	font-weight: bold;
	font-family: 'Raleway', 'Lato', Arial, sans-serif;
}

.form-4 input[type=submit]:hover,input[type=reset]:hover,input[type=button]:hover {
	box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), inset 0 20px 30px
		rgba(99, 64, 86, 0.5);
}

/* Fallback */
.no-boxshadow .form-4 input[type=submit]:hover,input[type=reset]:hover , input[type=button]:hover{
	background: #594642;
}

.form-4 label {
	display: none;
	padding: 0 0 5px 2px;
	cursor: pointer;
}

.form-4 label:hover              ~ input {
	border-color: #333;
}

.no-placeholder .form-4 label {
	display: block;
}
/*Error Mensaje*/
.errorm {
	margin: 20px;
	font-weight: bold;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	padding: 1px;
	position: relative;
}

.errorm p {
	display: block;
	margin: 0;
	padding: 8px 20px 7px 10px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.errorm {
	background-color: #d29191;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#d29191),
		to(#bb5e5e) );
	background-image: -webkit-linear-gradient(top, #d29191, #bb5e5e);
	background-image: -moz-linear-gradient(top, #d29191, #bb5e5e);
	background-image: -ms-linear-gradient(top, #d29191, #bb5e5e);
	background-image: -o-linear-gradient(top, #d29191, #bb5e5e);
	background-image: linear-gradient(top, #d29191, #bb5e5e);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#d29191',
		EndColorStr='#bb5e5e' );
	-webkit-box-shadow: 0px 0px 6px rgba(244, 187, 187, 0.7);
	-moz-box-shadow: 0px 0px 6px rgba(244, 187, 187, 0.7);
	box-shadow: 0px 0px 6px rgba(244, 187, 187, 0.7);
}

.errorm p {
	display: block;
	margin: 0;
	background-color: #f4baba;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f4baba),
		to(#db7f7f) );
	background-image: -webkit-linear-gradient(top, #f4baba, #db7f7f);
	background-image: -moz-linear-gradient(top, #f4baba, #db7f7f);
	background-image: -ms-linear-gradient(top, #f4baba, #db7f7f);
	background-image: -o-linear-gradient(top, #f4baba, #db7f7f);
	background-image: linear-gradient(top, #f4baba, #db7f7f);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f4baba',
		EndColorStr='#db7f7f' );
	-webkit-box-shadow: inset 0px 1px 0px #f7d0d0;
	-moz-box-shadow: inset 0px 1px 0px #f7d0d0;
	box-shadow: inset 0px 1px 0px #f7d0d0;
	color: #745050;
	text-shadow: 1px 1px 0px #eaadad;
}

.errorm p:after {
	content: '\2718';
	position: absolute;
	top: 10pxpx;
	right: 10px;
	font-size: 16px;
}
/*Warning*/
.warning {
	border: 0px solid;
	margin: 10px 0px;
	padding: 15px 10px 15px 10px;
	background-repeat: no-repeat;
	/*background-position: 10px center;*/
	-webkit-box-shadow: inset 0px 1px 0px #FEEFB3;
	-moz-box-shadow: inset 0px 1px 0px #FEEFB3;
	box-shadow: inset 0px 1px 0px #FEEFB3;
	color: #9F6000;
	background-color: #FEEFB3;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	text-shadow: 1px 1px 0px #FEEFB3;
	
	
	background-image: -webkit-gradient(linear, left top, left bottom, from(#FEEFB3),
		to(#FFFBE9) );
	background-image: -webkit-linear-gradient(top, #FEEFB3, #FFFBE9);
	background-image: -moz-linear-gradient(top, #FEEFB3, #FFFBE9);
	background-image: -ms-linear-gradient(top, #FEEFB3, #FFFBE9);
	background-image: -o-linear-gradient(top, #FEEFB3, #FFFBE9);
	background-image: linear-gradient(top, #FEEFB3, #FFFBE9);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#FEEFB3',
		EndColorStr='#FFFBE9' );
		
}